# Title

## Import Libraries

In [8]:
# Import requests for JSON
import requests

# Import libraries required for this analysis
import numpy as np
import pandas as pd

# For displaying plots 
import seaborn as sns
import matplotlib.pyplot as plt

# For timing training/prediction
import time

# Display all fields
pd.set_option('display.max_columns', None)

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

## Import Raw Data from NPS API (external script)

In [ ]:
# (Moved to fetch_nps_data.py)
"""
# Available fields for each park

id
url
*fullName
parkCode
name
*description
*designation
*latitude
*longitude
latLong (combined "lat:..., long:...")
*activities (array of objects with id and name)
topics
*states
contacts (e.g., phone, email)
entranceFees (array)
entrancePasses
fees
directionsInfo
directionsUrl
operatingHours
addresses
images (photos array)
weatherInfo


API_KEY = "fpyJ9NycrgZX5mK8f0n90c4qXGPcYAsBPwt4BLJk"
url = "https://developer.nps.gov/api/v1/parks"

def fetch_all_parks(api_key):
    all_parks = []
    start = 0
    limit = 50

    while True:
        params = {
            "limit": limit,
            "start": start,
            "api_key": api_key
        }

        response = requests.get(url, params=params)
        response.raise_for_status()  # raise error for bad response
        data = response.json().get("data", [])

        if not data:
            break  # no more data

        all_parks.extend(data)
        start += limit  # go to next page

    return all_parks

# Fetch data
parks_raw = fetch_all_parks(API_KEY)

# Convert to DataFrame
records = []
for park in parks_raw:
    activity_list = park.get('activities', [])
    activity_names = [a.get('name', '') for a in activity_list]
    
    records.append({
        'name': park.get('fullName', ''),
        'latitude': park.get('latitude', ''),
        'longitude': park.get('longitude', ''),
        'designation': park.get('designation', ''),
        'states': park.get('states', ''),
        'description': park.get('description', ''),
        'activities': ', '.join(activity_names)
    })

parks = pd.DataFrame(records)

# Save as CSV
parks.to_csv("../data/nps_parks_with_activities.csv", index=False)
"""

## Import Generated CSV to Dataframe

In [ ]:
parks = pd.read_csv('../data/nps_parks_with_activities.csv')

(474, 7)
                                                 name   latitude   longitude  \
0   Abraham Lincoln Birthplace National Historical...  37.585866  -85.673305
1                                Acadia National Park  44.409286  -68.247501
2                      Adams National Historical Park  42.255396  -71.011604
3                 African American Civil War Memorial  38.916600  -77.026000
4             African Burial Ground National Monument  40.714527  -74.004474
5                 Agate Fossil Beds National Monument  42.421704 -103.753886
6                 Ala Kahakai National Historic Trail  19.144668 -155.890734
7                                  Alagnak Wild River  59.051802 -156.112002
8                                 Alaska Public Lands  61.218800 -149.894536
9                                     Alcatraz Island  37.826762 -122.423021
10  Aleutian Islands World War II National Histori...  53.914300 -166.519700
11          Alibates Flint Quarries National Monument  35.581966 -101.671701
12  Allegheny Portage Railroad National Historic Site  40.429775  -78.574316
13                      Amache National Historic Site  38.049620 -102.329030
14                             American Memorial Park  15.216800  145.723110
15                   Amistad National Recreation Area  29.535398 -101.075821
16                                     Anacostia Park  38.878200  -76.970300
17               Andersonville National Historic Site  32.198318  -84.129889
18              Andrew Johnson National Historic Site  36.156245  -82.837090
19             Aniakchak National Monument & Preserve  56.853177 -157.554436

                     designation states  \
0       National Historical Park     KY
1                  National Park     ME
2       National Historical Park     MA
3                            NaN     DC
4              National Monument     NY
5              National Monument     NE
6        National Historic Trail     HI
7                     Wild River     AK
8                            NaN     AK
9                            NaN     CA
10        National Historic Area     AK
11             National Monument     TX
12        National Historic Site     PA
13        National Historic Site     CO
14                          Park     MP
15      National Recreation Area     TX
16                          Park     DC
17        National Historic Site     GA
18        National Historic Site     TN
19  National Monument & Preserve     AK

                                          description  \
0   For over a century people from around the worl...
1   Acadia National Park protects the natural beau...
2   From the sweet little farm at the foot of Penn...
3   Over 200,000 African-American soldiers and sai...
4   The African Burial Ground is the oldest and la...
5   In the early 1900s, paleontologists unearthed ...
6   Established in 2000 to preserve, protect and i...
7   The headwaters of Alagnak Wild River lie withi...
8   Alaskaâ€™s parks, forests, and refuges are rich ...
9   Alcatraz reveals stories of American incarcera...
10  The remote Aleutian Islands, home to the Unang...
11  13,000 years ago, Alibates was used by mammoth...
12  The first railroad to cross the Allegheny Moun...
13  Amache, also known as the Granada Relocation C...
14  American Memorial Park honors the American and...
15  An oasis in the desert, Amistad National Recre...
16  Welcome to Anacostia Park, your neighborhood n...
17  Nearly 13,000 men died on these grounds, a sit...
18  Andrew Johnson's complex presidency (1865-69) ...
19  Given its remote location and challenging weat...

                                           activities
0   Astronomy, Stargazing, Food, Picnicking, Guide...
1   Arts and Culture, Cultural Demonstrations, Ast...
2   Guided Tours, Self-Guided Tours - Walking, Liv...
3           Guided Tours, Self-Guided Tours - Walking
4   Arts and Culture, Guided Tours, Junior Ranger ...
5   Arts and Culture, Cultural Demonstrations, Ast...
6   Arts and Culture, Cultural Demonstrations, Aut...
7   Boating, Camping, Backcountry Camping, Fishing...
8                                                 NaN
9   Food, Wildlife Watching, Birdwatching, Museum ...
10  Guided Tours, Self-Guided Tours - Walking, Sel...
11  Arts and Culture, Craft Demonstrations, Campin...
12  Arts and Culture, Cultural Demonstrations, Gui...
13             Guided Tours, Self-Guided Tours - Auto
14  Arts and Culture, Theater, Biking, Fishing, Sa...
15  Boating, Motorized Boating, Sailing, Jet Skiin...
16  Biking, Road Biking, Boating, Fishing, Freshwa...
17  Auto and ATV, Scenic Driving, Camping, Group C...
18  Arts and Culture, Guided Tours, Self-Guided To...
19  Camping, Backcountry Camping, Climbing, Mounta...
Index(['name', 'latitude', 'longitude', 'designation', 'states', 'description',
       'activities'],
      dtype='object')

## Inspect Data

In [36]:
# Print dataframe head
print('First five rows of dataframe')
display(parks.head())
print()
    
# Print dataframe sample
print('Random five rows of dataframe')
display(parks.sample(5))
print()
    
# Check for missing values
print('Check for Missing Values')
print(parks.isna().sum())
print()

# Check data types
print('Check Data Types')
print(parks.info())
print()

# Check values for each column
print('Describe Dataframe')
print(parks.describe(include = 'all'))
print()
    
# Check for duplicates
print('Count of Duplicated Rows')
print(parks.duplicated().sum())

First five rows of dataframe

,name,latitude,longitude,designation,states,description,activities
0,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,National Historical Park,KY,For over a century people from around the worl...,"Astronomy, Stargazing, Food, Picnicking, Guide..."
1,Acadia National Park,44.409286,-68.247501,National Park,ME,Acadia National Park protects the natural beau...,"Arts and Culture, Cultural Demonstrations, Ast..."
2,Adams National Historical Park,42.255396,-71.011604,National Historical Park,MA,From the sweet little farm at the foot of Penn...,"Guided Tours, Self-Guided Tours - Walking, Liv..."
3,African American Civil War Memorial,38.916600,-77.026000,NaN,DC,"Over 200,000 African-American soldiers and sai...","Guided Tours, Self-Guided Tours - Walking"
4,African Burial Ground National Monument,40.714527,-74.004474,National Monument,NY,The African Burial Ground is the oldest and la...,"Arts and Culture, Guided Tours, Junior Ranger ..."

Random five rows of dataframe

,name,latitude,longitude,designation,states,description,activities
206,Guadalupe Mountains National Park,31.923045,-104.885527,National Park,TX,"Come experience mountains and canyons, desert ...","Auto and ATV, Auto Off-Roading, Camping, Backc..."
280,Maggie L Walker National Historic Site,37.547815,-77.437470,National Historic Site,VA,Maggie Lena Walker devoted her life to civil r...,"Guided Tours, Self-Guided Tours - Walking, Jun..."
91,Chesapeake & Ohio Canal National Historical Park,39.000284,-77.248140,National Historical Park,"DC,MD,WV",Preserving America's early transportation hist...,"Biking, Road Biking, Boating, Boat Tour, Campi..."
167,Fossil Butte National Monument,41.856352,-110.762475,National Monument,WY,In the ridges of southwest Wyoming are some of...,"Hiking, Junior Ranger Program, Wildlife Watchi..."
183,George Washington Memorial Parkway,38.962800,-77.149500,Memorial Parkway,"DC,MD,VA",The George Washington Memorial Parkway was des...,"Arts and Culture, Live Music, Biking, Road Bik..."

Check for Missing Values
name            0
latitude        1
longitude       1
designation    35
states          0
description     0
activities     10
dtype: int64

Check Data Types
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         474 non-null    object
 1   latitude     473 non-null    float64
 2   longitude    473 non-null    float64
 3   designation  439 non-null    object
 4   states       474 non-null    object
 5   description  474 non-null    object
 6   activities   464 non-null    object
dtypes: float64(2), object(5)
memory usage: 26.1+ KB
None

Describe Dataframe
                                                     name    latitude  \
count                                                 474  473.000000
unique                                                474         NaN
top     Abraham Lincoln Birthplace National Historical...         NaN
freq                                                    1         NaN
mean                                                  NaN   38.569820
std                                                   NaN    7.854124
min                                                   NaN  -14.228659
25%                                                   NaN   35.388347
50%                                                   NaN   38.877313
75%                                                   NaN   41.661726
max                                                   NaN   71.298324

         longitude        designation states  \
count   473.000000                439    474
unique         NaN                 46    112
top            NaN  National Monument     CA
freq           NaN                 83     28
mean    -94.110420                NaN    NaN
std      27.069131                NaN    NaN
min    -169.850378                NaN    NaN
25%    -109.451132                NaN    NaN
50%     -88.710010                NaN    NaN
75%     -77.035207                NaN    NaN
max     145.723110                NaN    NaN

                                              description  \
count                                                 474
unique                                                474
top     For over a century people from around the worl...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                               activities
count                                                 464
unique                                                431
top     Guided Tours, Self-Guided Tours - Walking, Jun...
freq                                                    7
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

Count of Duplicated Rows
0